<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h2>KIIT-SPACE</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/register" method="POST">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" name="name"/>
			<input type="password" placeholder="Password" name="password"/>
			<input type="password" placeholder="Confirm Password" name="cpassword"/>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login" method="POST">
			<h1>Login</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>follow us on</span>
			<input type="text" placeholder="Roll No" name="name" />
			<input type="password" placeholder="Password" name="password"/>
			<a href="#">Forgot your password?</a>
			<button>Login</button>
					{{!-- <button class="ghostt" id="signnUp">Sign Up</button> --}}
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
				
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, KIITIAN!</h1>
				<p>Quickly make and account and stay updated </p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<div class="bubble">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
			<li></li>
			<li></li>
			<li></li>
            
        </div>
        <div class="light"></div>
<footer>
	<p>
		Designed and developed by SHUBHAM
		{{!-- <a target="_blank" hrefCreated with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created t="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>. --}}
	</p>
</footer>
<script>
    const signUpButton = document.getElementById('signUp');
	    const signnUpButton = document.getElementById('signnUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signnUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>
</body>
</html>